
<div class="row">
  <!-- BUILD -->
  <div class="col-sm-12">
    <div class="panel">
      <h1 class="panel-title">Factory</h1>
      <div class="panel-body">
        <table>
          <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Progress</th>
            <th>Owned</th>
            <th></th>
          </tr>
          <tr>
            <td>Rover</td>
            <td><span class="text-muted">Building...</span></td>
            <td>98%</td>
            <td>1</td>
            <td>
              <button disabled>Pause</button>
            </td>
          </tr>
          <tr>
            <td>Turret</td>
            <td><span>500i 250n <span class="text-muted">50s</span></span></td>
            <td>--</td>
            <td>2</td>
            <td>
              <button disabled>Build</button>
            </td>
          </tr>
          <tr>
            <td>Drone</td>
            <td><span>500i 250n 10s</span></td>
            <td>--</td>
            <td>1</td>
            <td>
              <button>Build</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
