<div class="panel" *ngIf="isOpen">
  <h1 class="panel-title">{{owner.name}}</h1>
  <div class="panel-body">
    <ul class="list" *ngIf="inventory.slots">
      <li *ngFor="let slot of inventory.slots">
        <div *ngIf="slot.item">
          <button *ngIf="slot.item.isUsable" (click)="use(slot)">Use {{slot.item.name}}</button>
          <span *ngIf="!slot.item.isUsable">{{slot.item.name}}</span>
          <span class="list-descriptor">{{slot.quantity}}</span>
        </div>
      </li>
    </ul>
    <p *ngIf="!inventory.slots">
      (Empty)
    </p>
  </div>
  <div class="panel-footer">
    <button>Take All</button>
    <button (click)="close()">Close</button>
  </div>
</div>
