<template [ngIf]="player">
  <div class="panel">
    <h1 class="panel-title">{{player.name}}</h1>
    <div class="panel-body">
      <ul class="list">
        <li>
          CND <span class="list-descriptor" [ngClass]="((player.getHealthPercentage() < 33) ? 'label label-danger' : '')">{{player.health}}/{{player.healthMax}}</span>
        </li>
        <li>
          ATK <span class="list-descriptor">{{player.attack}}</span>
        </li>
        <li>
          DEF <span class="list-descriptor">{{player.defense}}</span>
        </li>
      </ul>
    </div>
    <div class="panel-footer">
      <!-- <button><i class="hotkey">R</i>epair</button> -->
      <button (click)="toggleInventory()"><i class="hotkey">I</i>nv</button>
    </div>
  </div>
  <station-inventory
    [isOpen]="isInventoryOpen"
    [inventory]="player.inventory"
    [owner]="player"
    (onClosed)="toggleInventory()">
  </station-inventory>
</template>
