<div class="row">
  <div class="col-sm-8">
    <div class="panel">
      <h1 class="panel-title">{{location.name}}</h1>
      <div class="panel-body">
        <template [ngIf]="!isAttacking">
          <p>
            {{location.percentExplored}}% explored
          </p>
          <p>
            <button class="button" (click)="explore()" [disabled]="location.percentExplored >= 100">Explore</button>
          </p>
        </template>
        <template [ngIf]="isAttacking">
          <label class="panel-label">Chance to defeat</label>
          <p class="alert">
            Rover under attack!
          </p>
          <ul class="list" *ngFor="let enemy of enemies">
            <li>
              <button class="button" (click)="attack(enemy)">Attack {{enemy.name}}</button>
              {{enemy.health}} HP
              <span *ngIf="isActive(enemy)">
                <span *ngIf="!getAttackStatus(enemy)">[Miss]</span>
                <span *ngIf="getAttackStatus(enemy)">>Hit<</span>
              </span>
              <span class="list-descriptor">{{getChanceToDefeat(enemy)}}%</span>
            </li>
          </ul>
        </template>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel">
      <h1 class="panel-title">{{player.name}}</h1>
      <div class="panel-body">
        <ul class="list">
          <li [class.alert]="getHealthPercentage(player) < 45">
            Health: <span class="list-descriptor">{{player.health}}/{{player.maxHealth}}</span>
          </li>
          <li>
            Attack: <span class="list-descriptor">{{player.attack}}</span>
          </li>
          <li>
            Defense: <span class="list-descriptor">{{player.defense}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<p *ngIf="!isAttacking">
  <a class="button" href routerLink="/">Return to base</a>
</p>
<p *ngIf="isAttacking">
  <a class="button" href routerLink="/">Retreat</a>
</p>
