<div class="row">
  <div class="col-sm-7">
    <template [ngIf]="location">
      <div class="panel">
        <h1 class="panel-title">{{location.name}}</h1>
        <div class="panel-body">
          <template [ngIf]="!isAttacking">
            <p>
              {{location.percentExplored}}% explored
            </p>
            <ul *ngIf="vessels" class="list">
              <li *ngFor="let vessel of vessels">
                <button *ngIf="!vessel.isOpen" (click)="toggleVessel(vessel)">Open {{vessel.name}}</button>
                <station-inventory
                  [isOpen]="vessel.isOpen"
                  [inventory]="vessel.inventory"
                  [owner]="vessel"
                  (onClosed)="toggleVessel(vessel)">
                </station-inventory>
              </li>
            </ul>
          </template>
          <template [ngIf]="isAttacking">
            <p class="blink">
              Rover under attack!
            </p>
            <table>
              <tr *ngFor="let encounter of enemyEncounters">
                <td>{{encounter.character.name}}</td>
                <td>
                  <station-meter
                    [percentage]="encounter.attackTimerPercentage">
                  </station-meter>
                </td>
                <td><span *ngIf="encounter.beingAttacked && !encounter.isTakingDamage" class="label label-danger">MISS!</span></td>
                <td>{{getChanceToDefeat(encounter.character)}}%</td>
                <td>
                  <station-meter
                    (click)="attack(encounter)"
                    [percentage]="encounter.character.getHealthPercentage()"
                    [useSecondaryGuage]="true">
                  </station-meter>
                </td>
              </tr>
            </table>
          </template>
          <div class="battle-pad"
            (mousedown)="mouseDown()"
            (mouseup)="mouseUp()"
            (mousemove)="mouseMove($event)"
            (mouseleave)="mouseLeave()"
            [ngClass]="((isMouseDown) ? 'is-defending' : '')">
          </div>
          <p>
            [SPACE] Shields
          </p>
        </div>
        <div class="panel-footer">
          <button *ngIf="!isAttacking" (click)="explore()" [disabled]="location.percentExplored >= 100">Explore</button>
          <button *ngIf="!isAttacking" (click)="quit()">Return to base</button>
          <button *ngIf="isAttacking" (click)="quit()">Retreat</button>
        </div>
      </div>
    </template>
  </div>
  <div class="col-sm-5">
    <station-player-stats></station-player-stats>
  </div>
</div>
