<div class="row">

  <!-- SYSTEMS -->
  <div class="col-sm-6">
    <div class="panel">
      <h1 class="panel-title">Systems</h1>
      <div class="panel-body">
        <table>
          <tr *ngFor="let system of systems">
            <td>{{system.name}}</td>
            <td><span [ngClass]="((system.status.rating === 0) ? 'label label-danger' : '')">{{system.status.name}}</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- ROVERS -->
  <div class="col-sm-6">
    <div class="panel">
      <h1 class="panel-title">Rovers</h1>
      <div class="panel-body">
        <table>
          <tr *ngFor="let rover of rovers">
            <td>{{rover.name}}</td>
            <td>
              <button>Modify</button>
              <button routerLink="/location">Deploy</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
