<!-- <div class="panel">
  <h1 class="panel-title">Menu</h1>
  <div class="panel-body">
    <ul *stationKeyNavigator="pages" (onSelection)="visitPage($event)">
      <li *ngFor="let page of pages" [stationKeyNavigatorActive]="'active'">
        <button>{{page.name}}</button>
      </li>
    </ul>
  </div>
</div> -->

<div class="panel">
  <h1 class="panel-title">Rovers</h1>
  <div class="panel-body">
    <station-key-navigator [model]="rovers" (onSelection)="selectRover($event)">
      <table>
        <tr *ngFor="let rover of rovers" stationKeyNavigatorActive>
          <td>{{rover.name}}</td>
          <td>Level {{rover.level}}</td>
        </tr>
      </table>
    </station-key-navigator>
  </div>
</div>
