<div class="row">
  <!-- ROVERS -->
  <div class="col-sm-12">
    <div class="panel">
      <h1 class="panel-title">Rovers</h1>
      <div class="panel-body">
        <table>
          <tr>
            <th>Designation</th>
            <th>CND</th>
            <th></th>
          </tr>
          <tr *ngFor="let rover of rovers">
            <td>{{rover.name}}</td>
            <td>{{rover.condition}}%</td>
            <td>
              <button>Modify</button>
              <button>Repair</button>
              <button routerLink="/location">Deploy</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
