<div class="row">

  <!-- STORAGE -->
  <div class="col-sm-12">
    <div class="panel">
      <h1 class="panel-title">Storage</h1>
      <div class="panel-body">
        <table>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Qty</th>
          </tr>
          <tr *ngFor="let slot of inventory">
            <td>{{slot.item.name}}</td>
            <td>{{slot.category}}</td>
            <td>{{slot.quantity}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
