@keyframes blinker {
  50% { opacity: 0; }
}

.blink {
  animation: blinker 2s linear infinite;
}

.label {
  display: inline-block;
  padding: 0 10px;

  &.label-danger {
    background-color: $color-danger;
    color: $color-primary;
  }
}
