button,
.button {
  background-color: $color-primary;
  color: $color-secondary;
  text-decoration: none;
  border: 0;
  padding: 0 ($padding-size / 2);
  font-size: $font-size;
  text-transform: uppercase;
  font-family: inherit;
  white-space: nowrap;
  user-select: none;
  background-image: none;
  line-height: $line-height;
  display: inline-block;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &.button-block {
    display: block;
    width: 100%;
  }

  > .hotkey {
    text-decoration: underline;
    text-shadow: none;
  }

  > .button-key {
    background-color: $color-accent;
    color: yellow;
    margin-right: 5px;
    line-height: $line-height;
    margin-left: -5px;
    display: inline-block;
    padding: 0 5px;

    &:before {
      content: "<";
    }

    &:after {
      content: ">";
    }
  }

  // &:before {
  //   content: "<";
  // }
  //
  // &:after {
  //   content: ">";
  // }

  &[disabled] {
    opacity: .45;
    cursor: default;
  }
}
