html,
body {
	min-height: 100%;
}

body {
	font-family: $font-family;
  font-size: $font-size;
  background-color: $color-secondary;
  color: $color-primary;
  line-height: $line-height;
}

* {
	box-sizing: border-box;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	cursor: default;
}

p {
	margin: 2px 0;
}

h1, h2, h3, h4, h5, h6 {
	color: $color-highlight;
}

hr {
	color: $color-primary;
	background-color: $color-primary;
	height: 1px;
	margin: $padding-size 0;
	border: 0;
}

dl {
	> dt,
	> dd {
		width: 50%;
		float: left;
	}
	> dt {
		text-align: right;
		padding-right: 5px;
	}
	> dd {
		padding-left: 5px;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.text-muted {
	opacity: .65;
}

.file-name {
	padding: 0 10px;
	background-color: $color-primary;
	text-transform: uppercase;
	font-weight: bold;
	margin: -13px auto 0;
	position: relative;
	left: auto;
	color: $color-secondary;
	right: auto;
	display: block;
	width: 157px;
}
