.container {
  padding: $padding-size * 2;
  box-shadow: inset 0 0 100px rgba(0,0,0,0.25);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.row {
  margin: 0px ($padding-size * -1);

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div[class^="col-"] {
    min-height: 1px;
    padding: 0 $padding-size;
    float: left;
  }
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    width: ($i / 12 * 100) + %;
  }
}
