.label {
  display: inline-block;
  padding: 0 10px;

  &.label-danger {
    background-color: $color-danger;
    color: $color-secondary;
  }

  .button > &,
  button > & {
    margin: 0;
    margin-right: -12px;
    margin-left: 10px;
  }
}
