.list {
  > li {
    margin: 2px 0;
  }

  .panel-body > &,
  .panel-body > .row > div[class^="col-"] > & {
    > li {
      padding-left: $padding-size;
      padding-right: $padding-size;
    }
  }
}

.list-descriptor {
  float: right;
}
