.list {
  > li {
    margin: 2px 0;
    &:hover {}
  }

  .panel-body > & {
    margin-left: -$padding-size/2;
    margin-right: -$padding-size/2;

    > li {
      padding-left: $padding-size/2;
      padding-right: $padding-size/2;

      > .button {}
    }
  }
}

.list-descriptor {
  float: right;
}
