ul.menu {
  > li {
    > a,
    > button {
      color: $color-primary;
      text-decoration: none;
      padding-left: $padding-size;
      padding-top: 2px;
      padding-bottom: 2px;
      display: block;
    }

    &.active {
      > a,
      > button {
        background-color: $color-primary;
        color: $color-secondary;
      }
    }
  }
}
