.meter {
  width: 100%;
  min-width: 150px;
  height: 1em;
  border: 1px solid $color-primary;
  position: relative;
  margin-bottom: 5px;

  > .guage {
    background-color: $color-primary;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    & + .guage {
      background-color: $color-primary;
      //opacity: .3;
      background-color: red;
      z-index: 1;
    }
  }
}
