.panel {
  border: 3px double $color-primary;
  position: relative;
  margin-bottom: 48px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.55);
}

.panel-title {
  background-color: $color-secondary;
  padding: 0 ($padding-size / 2);
  position: absolute;
  top: -18px;
  left: $padding-size / 2;
}

.panel-label {
  background-color: $color-secondary;
  padding: 0 ($padding-size / 2);
  position: absolute;
  top: -18px;
  right: $padding-size / 2;
}

.panel-body {
  padding: ($padding-size + ($padding-size/2)) $padding-size;

  > * {
    margin-bottom: 0;
  }
}

.panel-footer {
  background-color: $color-secondary;
  padding: 0;
  position: absolute;
  bottom: -16px;
  left: 14px;

  > .button {

  }
}
