$panel-offset: -($padding-size / 2);

.panel {
  border: 4px solid $color-primary;
  position: relative;
  margin-bottom: 48px;
  margin-top: $padding-size;
}

.panel-title {
  background-color: $color-secondary;
  padding: 0 ($padding-size / 2);
  position: absolute;
  top: $panel-offset;
  left: ($padding-size / 2);
  text-transform: uppercase;
}

.panel-label {
  background-color: $color-secondary;
  padding: 0 ($padding-size / 2);
  position: absolute;
  top: $panel-offset;
  right: $padding-size / 2;
}

.panel-body {
  padding: $padding-size 0;

  > *:last-child {
    margin-bottom: 0;
  }

  & > p,
  & > h4 {
		padding-left: $padding-size;
		padding-right: $padding-size;
	}

  > .row {
    margin-left: 0;
    margin-right: 0;
  }

  > .panel {
    margin-left: $padding-size - 2;
    margin-right: $padding-size - 2;
    margin-bottom: $padding-size;
    margin-top: $padding-size * 2;

    &:before {
      display: none;
    }

    + .panel {
      margin-top: $padding-size * 2;
    }
  }
}

.panel-footer {
  background-color: $color-secondary;
  bottom: $panel-offset;
  left: $padding-size + 4;
  position: absolute;
  display: inline-block;
  padding: 0;

  > span {
    margin-right: ($padding-size / 2);
  }
}
