table {
  width: 100%;
  margin: 0;

  > tbody {
    > tr {
      > td,
      > th {
        padding: 1px;
        vertical-align: top;
      }

      > th {
        background-color: transparent;
        color: $color-highlight;
        text-align: left;
      }
    }
  }
}
