table {
  width: 100%;
  margin: 0;

  > tbody {
    > tr {
      > td,
      > th {
        padding: 2px 10px;
        vertical-align: top;

        &:last-child {
          text-align: right;
        }
      }

      > th {
        background-color: transparent;
        color: $color-highlight;
        text-align: left;
      }

      &.active {
        > td, th {
          background-color: $color-primary;
          color: $color-secondary;
        }
      }
    }
  }

  .panel-body > & {
    > tbody {
      > tr {
        > td,
        > th {
          &:first-child {
            padding-left: $padding-size;
          }

          &:last-child {
            padding-right: $padding-size;
          }
        }
      }
    }
  }
}
