$color-primary: #0f0;
$color-primary-muted: darken($color-primary, 20%);
$color-secondary: #000;
$color-secondary-muted: darken($color-secondary, 10%);
$color-danger: #f00;
$color-accent: #000;
$color-highlight: #fff;

$padding-size: 25px;

$font-size: 25px;
$font-family: 'Inconsolata', monospace;
$line-height: 1.2em;
