$color-primary: #fff;
$color-primary-muted: darken($color-primary, 80%);
$color-secondary: #0000a8;
$color-secondary-muted: darken($color-secondary, 10%);
$color-danger: #f00;
$color-accent: #000;
$color-highlight: yellow;
$padding-size: 20px;
$line-height: 1.5em;
$font-size: 20px;
