$color-primary: #ccc;
$color-primary-muted: darken($color-primary, 20%);
$color-secondary: #000;
$color-secondary-muted: darken($color-secondary, 10%);
$color-danger: #f00;
$color-accent: #000;
$color-highlight: #ccc;

$font-size: 30px;
//$font-family: 'C64 Pro', 'Inconsolata', monospace;
$font-family: 'Inconsolata', monospace;
$line-height: 1em;
$padding-size: 1em;
